{% load i18n %}
{% load default_if_not %}
{% load external_url %}

<div class="panel panel-default">
  <div class="panel-body">
      <h4>{% trans 'General info' %}</h4>
      {% trans 'None' as n %}
      {% trans "Description" %}: {{ service.desc|default_if_not:n }} <br>
      {% trans "Type" %}: {{ service.type|upper|default_if_not:n }} <br>
      {% trans "CRS" %}: {{ service.epsg|default_if_none:n }} <br>
      {% if service.submitter %}
      {% trans "Submitter" %}: <a target="_blank" href="{% external_url 'ngid_public_profile' ''%}/{{ service.submitter.nextgis_guid }}">{{ service.submitter.username }}</a><br>
      {% endif %}
      {% trans "Source" %}: {{ service.source|default_if_not:n }}<br>
      {% trans "Date added" %}: {{ service.created_at }}<br>
      {% trans "Last update" %}: {{ service.updated_at }}
  </div>
</div>
