{% load i18n %}

<div class="panel panel-default">
  <div class="panel-body">
      <h4>{% trans 'License & Copyright info' %}</h4>
      {% trans "License name:" %} {{ service.license_name|default_if_none:'None' }} <br>
      {% trans "License URL:" %} {{ service.license_url|default_if_none:'None' }} <br>
      {% trans "Copyright text:" %} {{ service.copyright_text|default_if_none:'None' }} <br>
      {% trans "Copyright URL:" %} {{ service.copyright_url|default_if_none:'None' }} <br>
      {% trans "Terms of use URL:" %} {{ service.terms_of_use_url|default_if_none:'None' }} <br>
  </div>
</div>
