/* QMS Type */

$qms-type-sm-break: ($square-list-item-width + $square-list-padding)*3;
$qms-type-md-break: ($square-list-item-width + $square-list-padding)*4;

.qms-type{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-left: $square-list-padding/2;
	padding-right: $square-list-padding/2;

	@media (min-width: $qms-type-sm-break){
		width: $qms-type-sm-break;
	}

	@media (min-width: $qms-type-md-break){
		width: $qms-type-md-break;
	}

	.square-list{
		left: 2px;
	}
}

.qms-type__title{
	margin-bottom: 36px;
	@media (min-width: $qms-type-sm-break){
		text-align: left;
	}
}

.qms-type__help-link{
	float: right;
	margin-top:4px;

	@media (max-width: $qms-type-sm-break){
		display: none;
	}

	&--mobile{
		display: none;
		float: none;
		margin-top: 12px;
		@media (max-width: $qms-type-sm-break){
			display: inline;
		}
	}
}
