{% load i18n %}
{% load widget_tweaks %}
{% load attr_with_id %}

<div class="report-problem-popup modal fade tabindex=-1" role="dialog" {% if restore_problem_service %} data-show="true" {% else %} data-show="false" {% endif %}>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-title">{% trans 'Report a problem' %}</div>
                <div class="modal-subtitle"><a href="#"></a></div>
                <form action="." method="POST" class="form--margin_big form-validate">
                    {% csrf_token %}
                    <input type="hidden" value="{{restore_problem_service|default_if_none:''}}" id="report_service_id" name="report_service_id">
                    <div class="form-group label-floating clearfix ">
                        <label class="control-label" for="{{report_form.reported_email.id_for_label}}">{% trans 'Your e-mail (optional)' %}</label>
                        {{ report_form.reported_email|add_class:'form-control form-control--notignore'|attr_with_id:'aria-describedby:$id-error' }}
                        {% if report_form.reported_email.errors %}
                        <span id="{{ report_form.reported_email.auto_id }}-error" class="has-error">{{ report_form.reported_email.errors }}</span>
                        {% endif %}
                        <div class="help-block">We will send this address to the service's author</div>
                    </div>
                    <div class="form-group label-floating clearfix is-empty ">
                        <label class="control-label" for="{{report_form.report_type.id_for_label}}">{% trans 'Type of problem' %}</label>
                        <div class="select-wrapper">
                            {{ report_form.report_type|add_class:'form-control required'|attr_with_id:'aria-describedby:$id-error' }}
                            <i class="select__icon material-icons">keyboard_arrow_down</i>
                        </div>
                        {% if report_form.report_type.errors %}
                        <span id="{{ report_form.report_type.auto_id }}-error" class="has-error">{{ report_form.report_type.errors }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group clearfix ">
                        <label class="control-label" for="{{report_form.report_message.id_for_label}}">{% trans 'Your message' %}</label>
                        {# {{ report_form.report_message|add_class:'form-control required'|attr_with_id:'aria-describedby:$id-error' }} #}
                        <textarea aria-describedby="{{ report_form.report_message.auto_id }}-error" class="form-control required" id="{{ report_form.report_message.auto_id }}" name="{{ report_form.report_message.name }}" rows="5" placeholder="{% trans 'Describe the problem. You can also specify how it can be fixed.' %}"/></textarea>
                        {% if report_form.report_message.errors %}
                        <span id="{{ report_form.report_message.auto_id }}-error" class="has-error">{{ report_form.report_message.errors }}</span>
                        {% endif %}
                    </div>
                    <div class="captcha-panel row">
                        <div class="col-xs-12 col-xs-mb col-sm-7 captcha-panel__captcha">
                        {% if report_form.captcha %}
                            {{ report_form.captcha }}
                            {% if report_form.captcha.errors %}
                            <span id="{{ report_form.captcha.auto_id }}-error" class="has-error">{{ report_form.captcha.errors }}</span>
                            {% endif %}
                        {% endif %}
                        </div>
                        <div class="col-xs-12 col-xs-mb col-sm-5 captcha-panel__btn">
                            <button type="submit" class="btn btn-xlg btn-raised btn-primary">{% trans 'Send message' %}</button>
                        </div>
                    </div>
                </form>
            </div>
            <a href="#" data-dismiss="modal" class="material-icons icon-close close"></a>
        </div>
    </div>
</div>