{% extends "service_base.html" %}

{% load staticfiles %}
{% load external_url %}
{% load i18n %}
{% load get_chatra_groupid %}

{% block head_title %}{% trans 'QuickMapServices: discover, share and use geospatial data services' %}{% endblock %}

{% block extra_head %}
    <link href="{% static 'css/vendor.css' %}" type="text/css" rel="stylesheet"/>
    <!-- Chatra -->
    {% get_chatra_groupid 'qms' as chatra_groupid %}
    {% include "snippets/contrib/chatra.html" %}
{% endblock %}

{% block content_title %}
    <a class="withoutripple" href="{% url 'site_geoservice_list' %}">{% trans 'QMS' %}</a>
{% endblock %}

{% block header_menu %}
    <nav class="header-menu hidden-xs hidden-sm">
        <a href="{% url 'site_geoservice_list' %}" class="header-menu__item active withoutripple">{% trans 'Services' %}</a>
        <a href="{% url 'site_about' %}" class="header-menu__item withoutripple">{% trans 'How to use' %}</a>
        <a href="{% url 'site_faq' %}" class="header-menu__item withoutripple">{% trans 'FAQ' %}</a>
    </nav>
{% endblock %}

{% block body_class %}body--wide body--grey{% endblock %}

{% block logo_link %}{% url 'site_geoservice_list' %}{% endblock %}
{% block login_link %}{% url 'ngid_login' %}{% endblock %}
{% block logout_link %}{% url 'ngid_logout' %}{% endblock %}


{% block header_action %}    
    <a class="btn btn-action btn-primary hide-on-sm" href="{% url 'create_service_view' %}">{% trans 'Add service' %}</a>
{% endblock %}

{% block script_variables %}
    <script type="text/javascript">
        var qmsConfig = {
            default_icon_url : "{% url 'service_icon_default' %}",
            icon_url : "/api/v1/icons/%id/content",  //REPLACE IT!
            service_url : "/geoservices/%id", //REPLACE IT!
            edit_url : "/edit/%id" //REPLACE IT!
            {% if request.user.is_authenticated %}
                ,user_guid : "{{ request.user.nextgis_guid }}"
            {% endif %}
        }
    </script>
{% endblock %}

{% block counters %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter41676549 = new Ya.Metrika({
                        id:41676549,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/41676549" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
{% endblock %}
