{% extends "service_base.html" %}

{% load staticfiles %}
{% load external_url %}
{% load i18n %}


{% block extra_head %}
    <link href="{% static 'qms_site/css/qms.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}


{% block head_title %}{% trans 'QuickMapServices: discover, share and use geospatial data services' %}{% endblock %}
{% block content_title %}
    <a class="withoutripple" href="{% url 'site_geoservice_list' %}">{% trans 'QMS' %}</a>
{% endblock %}

{% block header_menu %}
    <nav class="header-menu">
        <a href="{% url 'site_geoservice_list' %}" class="header-menu__item active withoutripple">{% trans 'Services' %}</a>
        <a href="{% url 'site_about' %}" class="header-menu__item withoutripple">{% trans 'How to use' %}</a>
    </nav>
{% endblock %}

{% block body_class %}body--wide-header body--grey{% endblock %}

{% block logo_link %}{% url 'site_geoservice_list' %}{% endblock %}
{% block login_link %}{% url 'ngid_login' %}{% endblock %}
{% block logout_link %}{% url 'ngid_logout' %}{% endblock %}


{% block header_action %}    
    <a class="btn btn-action btn-primary hide-on-sm" href="{% url 'create_service_view' %}">{% trans 'Add service' %}</a>
{% endblock %}

{% block counters %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter41676549 = new Ya.Metrika({
                        id:41676549,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/41676549" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
{% endblock %}