{% load staticfiles %}

<!DOCTYPE html>
<!--[if lte IE 9]>     <html class="lte-ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{% static 'qms_site/css/main.css' %}" type="text/css" rel="stylesheet"/>
    {% block extra_head %}{% endblock %}
  </head>

  <body {% if body_class %} class="{{ body_class }}" {% endif %}>
    {% block body %}
    {% endblock %}

    <!-- Block for alerts -->
    {% block messages %}
      <div class="messages">
          {% if messages %}
              {% for message in messages %}
                  {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                  <div class="alert alert-danger fade in" data-form="auth-form">
                  {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                  <div class="alert alert-warning fade in" data-form="auth-form">
                  {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                  <div class="alert alert-info alert--timeout fade in" data-form="auth-form">
                  {% else %}
                  <div class="alert alert-info alert--timeout fade in" data-form="auth-form">
                  {% endif %}
                      <button type="button" class="close" data-dismiss="alert">×</button>
                      {{message}}
                  </div>
              {% endfor %}
          {% endif %}
          {% block form_messages %} {% endblock %}
      </div>
    {% endblock %}

    <!-- Footer -->
    {% include "common_snippets/footer.html" %}
    <div class="overlay"></div>
    <!-- Scripts -->
    {% include "common_snippets/scripts.html" %}
    {% block extra_scripts %}{% endblock %}
    <!-- Extra stuff -->
    {% block extra_body %}{% endblock %}    
  </body>
</html>
