{% extends "overlay_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load get_chatra_groupid %}

{% block head_title %}{% trans "Add service" %} | QuickMapServices{% endblock %}

{% block extra_head %}
    <!-- Chatra -->
    {% get_chatra_groupid 'qms' as chatra_groupid %}
    {% include "snippets/contrib/chatra.html" %}
{% endblock %}

{% block overlay_content %}
    <div class="modal--stretch__inner">
        <!-- Nav tabs -->
        <nav class="qms-type {% if error_form_type %} hidden {% endif %}" data-nav-active="hidden" role="tablist">
            <a class="qms-type__help-link" href="/faq#add" target="_blank">{% trans "Which one do I need?" %}</a>
            <h1 class="qms-type__title">{% trans 'Select service type' %}</h1>
            <div class="square-list">
                {% for form_obj_name, form_obj in forms.iteritems %}
                    <div class="square-list__item">
                        <a href="#{{form_obj_name}}" aria-controls="{{form_obj_name}}" role="tab" data-toggle="tab">
                            <div class="square-list__panel panel">
                                {{form_obj.obj_type}}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <a class="qms-type__help-link qms-type__help-link--mobile" href="/faq#add" target="_blank">{% trans 'Which one do I choose?' %}</a>
        </nav>
        <!-- Tab panes -->
        <div class="tab-content">
            {% for form_obj_name, form_obj in forms.iteritems %}
                <div role="tabpanel" class="panel panel--big tab-pane {% if error_form_type == form_obj_name %} active {% endif %}" id="{{form_obj_name}}">
                    <div class="panel-body">
                        {% include form_obj.associated_template with form=form_obj form_name=form_obj_name mode="create" %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div><!--/.modal--stretch__inner-->
    <script>
        var noLicenseConfirmText = "{% trans "You haven't provided any license information. It may result in some limitations (like lower ranking).\n\nWould you like to add service anyway?" %}";
    </script>
{% endblock %}

{% block close_link %}{% url 'site_geoservice_list' %}{% endblock %}

{% block counters %}
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter41676549 = new Ya.Metrika({
                        id:41676549,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/41676549" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
{% endblock %}