{% extends "base_qms.html" %}

{% load i18n %}
{% load staticfiles %}

{% block body_content %}
    <div class="btn-group toolbar pull-right" role="group">
        <a href="#" class="btn btn-tool"
            data-toggle="modal"
            data-target=".report-problem-popup"
            data-service-title="{{ service.name }}"
            data-service-id="{{ service.id }}"
            data-service-url="">{% trans 'Report a problem' %}</a>
        {% if request.user.is_authenticated and  service.submitter_id == request.user.nextgis_guid  %}
            <a href="{% url 'edit_service_view' pk=service.id %}" class="btn btn-tool">{% trans 'Edit' %}</a>
        {% endif %}
    </div>
    <h1>
        {% if service.icon %}
        <img src="{% url 'service_icon_retrieve' pk=service.icon.id %}" />
        {% else %}
        <img src="{% url 'service_icon_default' %}" />
        {% endif %}
        {{ service.name }}
    </h1>
    {% include 'services_snippets/general_info.html' %}
    {% include 'services_snippets/license_info.html' %}
    {% if service.type == 'tms' %}
        {% include 'services_snippets/tms_info.html' %}
    {% elif service.type == 'wms' %}
        {% include 'services_snippets/wms_info.html' %}
    {% elif service.type == 'wfs' %}
        {% include 'services_snippets/wfs_info.html' %}
    {% elif service.type == 'geojson' %}
        {% include 'services_snippets/geojson_info.html' %}
    {% endif %}
    {% include 'services_snippets/preview_map.html' %}
    <br>
    <a href="{% url 'site_geoservice_list' %}">{% trans 'Back to services list' %}</a>
{% endblock %}

{% block popups %}
    {% include "snippets/report_problem.html" %}
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'qms_site/css/leaflet.css' %}" />
{% endblock %}

{% block extra_body %}
    {{block.super}}
    <script src="{% static 'qms_site/js/vendor/leaflet.js' %}"></script>
    <script src="{% static 'qms_site/js/vendor/proj4-compressed.js' %}"></script>
    <script src="{% static 'qms_site/js/vendor/proj4leaflet.js' %}"></script>
    <script src="{% static 'qms_site/js/vendor/Leaflet-WFST.min.js' %}"></script>

    {% include 'services_snippets/preview_map_js.html' %}
{% endblock %}
