{% extends "base_qms.html" %}

{% load i18n %}
{% load staticfiles %}

{% block body_content %}
    <h3>
        {% if service.icon %}
        <img src="{% url 'service_icon_retrieve' pk=service.icon.id %}" />
        {% else %}
        <img src="{% url 'service_icon_default' %}" />
        {% endif %}
        {{ service.name }}
    </h3>
    {% include 'services_snippets/general_info.html' %}
    {% include 'services_snippets/license_info.html' %}
    {% if service.type == 'tms' %}
        {% include 'services_snippets/tms_info.html' %}
    {% elif service.type == 'wms' %}
        {% include 'services_snippets/wms_info.html' %}
    {% elif service.type == 'wfs' %}
        {% include 'services_snippets/wfs_info.html' %}
    {% elif service.type == 'geojson' %}
        {% include 'services_snippets/geojson_info.html' %}
    {% endif %}
    {% include 'services_snippets/preview_map.html' %}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'qms_site/css/leaflet.css' %}" />
{% endblock %}

{% block extra_body %}
    <script src="{% static 'qms_site/js/vendor/leaflet.js' %}"></script>
    <script src="{% static 'qms_site/js/vendor/proj4-compressed.js' %}"></script>
    <script src="{% static 'qms_site/js/vendor/proj4leaflet.js' %}"></script>
    <script src="{% static 'qms_site/js/vendor/Leaflet-WFST.min.js' %}"></script>

    {% include 'services_snippets/preview_map_js.html' %}
{% endblock %}
