{% extends "base_qms.html" %}

{% load i18n %}
{% load staticfiles %}

{% block body_content %}
    <div class="btn-group toolbar pull-right" role="group">
        <a href="mailto:info@nextgis.com?subject=Проблема с сервисом {{ service.name }} в QMS" class="btn btn-tool">Сообщить об ошибке</a>
        {% if service.submitter_id == request.user.nextgis_guid %}
            <a href="{% url 'edit_service_view' pk=service.id %}" class="btn btn-tool">Изменить</a>
        {% endif %}

    </div>
    <h1>
        {% if service.icon %}
        <img src="{% url 'service_icon_retrieve' pk=service.icon.id %}" />
        {% else %}
        <img src="{% url 'service_icon_default' %}" />
        {% endif %}
        {{ service.name }}
    </h1>
    {% include 'services_snippets/general_info.html' %}
    {% include 'services_snippets/license_info.html' %}
    {% if service.type == 'tms' %}
        {% include 'services_snippets/tms_info.html' %}
    {% elif service.type == 'wms' %}
        {% include 'services_snippets/wms_info.html' %}
    {% elif service.type == 'wfs' %}
        {% include 'services_snippets/wfs_info.html' %}
    {% elif service.type == 'geojson' %}
        {% include 'services_snippets/geojson_info.html' %}
    {% endif %}
    {% include 'services_snippets/preview_map.html' %}
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'qms_site/css/leaflet.css' %}" />
{% endblock %}

{% block extra_body %}
    <script src="{% static 'qms_site/js/vendor/leaflet.js' %}"></script>
    <script src="{% static 'qms_site/js/vendor/proj4-compressed.js' %}"></script>
    <script src="{% static 'qms_site/js/vendor/proj4leaflet.js' %}"></script>
    <script src="{% static 'qms_site/js/vendor/Leaflet-WFST.min.js' %}"></script>

    {% include 'services_snippets/preview_map_js.html' %}
{% endblock %}
