{% extends "overlay_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load get_chatra_groupid %}

{% block head_title %}{% trans "Edit service" %} | QuickMapServices {% endblock %}

{% block extra_head %}
    <!-- Chatra -->
    {% get_chatra_groupid 'qms' as chatra_groupid %}
    {% include "snippets/contrib/chatra.html" %}
{% endblock %}

{% block overlay_content %}
    <div class="modal--stretch__inner">
        <div class="panel panel--big" id="{{form_obj_name}}">
            <div class="panel-body">
                {% include form.associated_template with form=form form_name=form_name mode="edit" %}
            </div>
        </div>
    </div><!--/.modal--stretch__inner-->
    <script>
        var noLicenseConfirmText = "{% trans "You haven't provided any license information. It may result in some limitations (like lower ranking).\n\nWould you like to save service anyway?" %}";
    </script>
{% endblock %}

{% block close_link %}{% url 'site_geoservice_list' %}{% endblock %}