{% extends "overlay_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block extra_head %}
    <link href="{% static 'qms_site/css/qms.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}
{% block extra_body %}
    <script src="{% static 'qms_site/js/qms.js' %}"></script>
{% endblock %}
{% block head_title %}{% trans "Edit service" %} | QuickMapServices {% endblock %}

{% block overlay_content %}
    <div class="modal--stretch__inner">
        <div class="panel panel--big" id="{{form_obj_name}}">
            <div class="panel-body">
                {% include form.associated_template with form=form form_name=form_name mode="edit" %}
            </div>
        </div>
    </div><!--/.modal--stretch__inner-->
    <script>
        var noLicenseConfirmText = "{% trans "You haven't provided any license information. It may result in some limitations (like lower ranking).\n\nDo you still want to save service without licensing?" %}";
    </script>
{% endblock %}

{% block close_link %}{% url 'site_geoservice_list' %}{% endblock %}