{% extends "base_cab.html" %}
{% load staticfiles %}
{% load i18n %}


{% block head_title %}{% trans 'List of services' %}{% endblock %}
{% block content_title %}{% trans 'List of services' %}{% endblock %}
{% block content_title_mobile %}{% trans 'List of services' %}{% endblock %}

{% block body_content %}
    <div class="qms__filter row">        
        <div class="col-xs-12 col-sm-4 col-sm-push-8">
            <div class="input-group">
                <div class="input-group-addon"><i class="material-icons">search</i></div>
                <div class="form-group">
                    <input class="form-control" id="txt_search" maxlength="256" placeholder="{% trans 'Search map service...' %}" type="search">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-pull-4">
            <ul class="qms__filter__list filter-links list-inline">
                <li class="filter-links__item">
                    <a class="filter-link active" id="flt_all" href="#"><span class="filter-link__inner">All services</span></a>
                </li>
                <li class="filter-links__item">
                    <a class="filter-link" id="flt_tms" href="#"><span class="filter-link__inner">TMS</span></a>
                </li>
                <li class="filter-links__item">
                    <a class="filter-link" id="flt_wms" href="#"><span class="filter-link__inner">WMS</span></a>
                </li>
                <li class="filter-links__item">
                    <a class="filter-link" id="flt_wfs" href="#"><span class="filter-link__inner">WFS</span></a>
                </li>
                <li class="filter-links__item">
                    <a class="filter-link" id="flt_geojson" href="#"><span class="filter-link__inner">GeoJSON</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div id="results"></div>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">
        element_template_url = "{% static 'qms_site/templates/service_element.html' %}";
        no_results_templ_url = "{% static 'qms_site/templates/no_results.html' %}";
        default_icon_url = "{% url 'service_icon_default' %}";
        icon_url = "/api/v1/icons/%id/content";  //REPLACE IT!
        service_url = "/geoservices/%id"; //REPLACE IT!
    </script>

    <script src="{% static 'qms_site/js/vendor/handlebars.min.js' %}"></script>
    <script src="{% static 'qms_site/js/search_engine.js' %}"></script>
    <script src="{% static 'qms_site/js/filter-widget.js' %}"></script>
{% endblock %}
