<div class="qms-list__item panel panel-default" >
    <div class="panel-body">
        <div class="qms-list__item-toolbar btn-group toolbar pull-right" role="group">
            <a href="mailto:info@nextgis.com?subject=Problem with {{ service.name }} in QMS" class="btn btn-tool btn-tool--icon material-icons feedback" title="Report a problem"></a>
            {{#if my_service}}
                <a href="{{ edit_url }}" class="btn btn-tool btn-tool--icon material-icons edit" title="Edit"></a>
            {{/if}}
        </div>
        <h2>
            <img src="{{ icon_url }}" />
            <a href="{{ service_url }}">{{ service.name }}</a>
        </h2>
        Description: {{ service_desc }} <br>
        Type: {{ service.type }} <br>
        CRS: {{ service_epsg }} <br>
        Last update: {{ updated_at }}
    </div>
</div>