<div class="qms-list__item panel panel-default" >
    <div class="panel-body">
        <div class="qms-list__item-toolbar btn-group toolbar pull-right" role="group">
            <a href="{{ service_url }}?show-report-problem=1" class="btn btn-tool btn-tool--icon material-icons feedback" title="Report a problem" target="_blank"></a>
            {{#if my_service}}
                <a href="{{ edit_url }}" class="btn btn-tool btn-tool--icon material-icons edit" title="Edit"></a>
            {{/if}}
        </div>
        <div class="qms-list__title">
            <img class="qms-list__icon" src="{{ icon_url }}?width=24&height=24" />
            {{ service.name }}
        </div>
        {{#if service.desc}}
            <div class="qms-list__descr">
                {{ service_desc }}
            </div>
        {{/if}}
        <div class="qms-list__meta">
            <span class="qms-list__meta-item qms-list__type">{{ service.type }}</span>
            <span class="qms-list__meta-item qms-list__date">last update: {{ updated_at }}</span>
        </div>
    </div>
    <a class="qms-list__link" href="{{ service_url }}"></a>
</div>