{% extends 'edit_snippets/base_service.html' %}
{%  load i18n %}

{% block form_header %}{% trans 'Append WMS service' %}{% endblock %}

{% block required_part %}
    <div class="form-group label-floating clearfix {% if form.url.errors %}has-error{% endif %}">
        <label class="control-label" for="{{form.url.id_for_label}}">{% trans 'URL' %}</label>
        {{ form.url }}
        {% if form.url.errors %}
        <span id="{{ form.url.auto_id }}-error" class="has-error">{{ form.url.errors }}</span>
        {% endif %}
    </div>
    <div class="form-group label-floating clearfix {% if form.layers.errors %}has-error{% endif %}">
        <label class="control-label" for="{{form.layers.id_for_label}}">{% trans 'Layers' %}</label>
        {{ form.layers }}
        {% if form.layers.errors %}
        <span id="{{ form.layers.auto_id }}-error" class="has-error">{{ form.layers.errors }}</span>
        {% endif %}
    </div>
{% endblock %}

{% block extra_part %}
    <div class="form-group label-floating clearfix {% if form.params.errors %}has-error{% endif %}">
        <label class="control-label" for="{{form.params.id_for_label}}">{% trans 'Parameters' %}</label>
        {{ form.params }}
        {% if form.params.errors %}
        <span id="{{ form.params.auto_id }}-error" class="has-error">{{ form.params.errors }}</span>
        {% endif %}
    </div>
    <div class="form-group label-floating clearfix {% if form.turn_over.errors %}has-error{% endif %}">
        <label class="control-label" for="{{form.turn_over.id_for_label}}">{% trans 'Turn over' %}</label>
        {{ form.turn_over }}
        {% if form.turn_over.errors %}
        <span id="{{ form.turn_over.auto_id }}-error" class="has-error">{{ form.turn_over.errors }}</span>
        {% endif %}
    </div>
    <div class="form-group label-floating clearfix {% if form.format.errors %}has-error{% endif %}">
        <label class="control-label" for="{{form.format.id_for_label}}">{% trans 'Format' %}</label>
        {{ form.format }}
        {% if form.format.errors %}
        <span id="{{ form.format.auto_id }}-error" class="has-error">{{ form.format.errors }}</span>
        {% endif %}
    </div>
{% endblock %}
