{% load i18n %}

<script type="text/javascript">
    $.extend($.validator.messages, {
        required: "{% trans 'This field is required' %}",
        email: "{% trans 'Please enter a valid email address' %}",
        url: "{% trans 'Please enter a valid URL' %}",
        date: "{% trans 'Please enter a valid date' %}",
        number: "{% trans 'This field must be a number' %}",
        creditcard: "{% trans 'Please enter a valid card number' %}",
        equal: "{% trans 'The values are not the same' %}"
    }); 
</script>