@charset "UTF-8";
/* Shadows (from mdl http://www.getmdl.io/) */
/* Mixins */
/* Social colors */
/* Forms */
/* QMS list */
.qms-list__item {
  position: relative;
  -webkit-transition: box-shadow .3s;
  transition: box-shadow .3s; }
  .qms-list__item:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.07), 0 3px 14px 2px rgba(0, 0, 0, 0.1), 0 5px 5px -3px rgba(0, 0, 0, 0.06); }
    .qms-list__item:hover .qms-list__item-toolbar {
      opacity: 1; }
    .qms-list__item:hover .qms-list__title {
      color: #0070c5; }

.qms-list__item-toolbar {
  position: relative;
  opacity: 0;
  z-index: 10; }

.qms-list__link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  border-bottom: 0; }

.qms-list__meta {
  color: #888;
  font-size: 13px;
  margin-top: 12px; }

.qms-list__meta-item {
  position: relative;
  margin-left: 24px; }
  .qms-list__meta-item::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 6px;
    width: 5px;
    height: 5px;
    background-color: #c9dced;
    border-radius: 50%; }
  .qms-list__meta-item:first-child {
    margin-left: 0; }
    .qms-list__meta-item:first-child::before {
      display: none; }

.qms-list__type {
  text-transform: uppercase; }

.qms-list__title {
  font-size: 19px;
  padding-left: 34px;
  padding-right: 80px;
  margin-bottom: 8px;
  font-weight: bold; }

.qms-list__icon {
  float: left;
  margin-left: -34px;
  margin-top: 1px; }

/* Square list */
.square-list {
  position: relative;
  left: 4px;
  margin-left: 0;
  margin-right: 0; }

.square-list__panel {
  width: 150px;
  height: 150px;
  line-height: 150px;
  white-space: nowrap;
  font-size: 18px;
  font-family: "Lato";
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center; }

.square-list__item {
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -4px;
  text-align: center;
  margin-bottom: 30px; }
  .square-list__item:nth-child(1) .square-list__panel {
    color: #00b77e; }
  .square-list__item:nth-child(2) .square-list__panel {
    color: #0070c5; }
  .square-list__item:nth-child(3) .square-list__panel {
    color: #f0ad4e; }
  .square-list__item:nth-child(4) .square-list__panel {
    color: #000; }

/* QMS Type */
.qms-type {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.qms-type__title {
  margin-bottom: 36px; }

/* qms add service */
.qms-add-service__license {
  margin-top: 24px; }

.qms-add-service__extra-form {
  margin-top: 10px; }

.qms-add-service__license-form {
  display: none; }

.qms-add-service__license-info .qms-add-service__license-filled {
  display: none; }

.qms-add-service__license-info.filled .qms-add-service__license-filled {
  display: block; }

.qms-add-service__license-info.filled .qms-add-service__license-empty {
  display: none; }

/* Header menu */
.header-menu {
  display: inline-block;
  margin-left: 38px;
  vertical-align: top;
  position: relative;
  left: 4px;
  font-family: "Lato";
  letter-spacing: .4px; }

.header-menu__item {
  color: #212121;
  padding: 0 16px;
  display: inline-block;
  position: relative;
  margin-left: -4px; }
  .header-menu__item::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 3px;
    background: #0070c5;
    -webkit-transition: max-width .4s;
    transition: max-width .4s;
    max-width: 0; }
  .header-menu__item:hover {
    background-color: rgba(255, 255, 255, 0.24);
    color: #212121; }
  .header-menu__item.active::after {
    width: 100%;
    max-width: 200px; }
  .header-menu__item.active:hover {
    background-color: transparent; }

/* Text content */
.text-content h1, .text-content .h1 {
  font-size: 33px;
  margin-bottom: 30px; }
  .text-content h1:first-child, .text-content .h1:first-child {
    margin-top: 0; }

.text-content h2, .text-content .h2 {
  font-size: 23px;
  margin-bottom: 30px;
  margin-top: 48px; }
  .text-content h2:first-child, .text-content .h2:first-child {
    margin-top: 0; }

.text-content ul, .text-content ol {
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 20px; }
  .text-content ul li, .text-content ol li {
    margin-bottom: 8px; }

.text-content p {
  margin-bottom: 20px; }

@media (min-width: 992px) {
  .text-content .row {
    margin-left: -30px;
    margin-right: -30px; } }

@media (min-width: 992px) {
  .text-content .col-xs-12, .text-content .col-xs-11, .text-content .col-xs-10, .text-content .col-xs-9, .text-content .col-xs-8, .text-content .col-xs-7, .text-content .col-xs-6, .text-content .col-xs-5, .text-content .col-xs-4, .text-content .col-xs-3, .text-content .col-xs-2, .text-content .col-xs-1, .text-content .col-sm-12, .text-content .col-sm-11, .text-content .col-sm-10, .text-content .col-sm-9, .text-content .col-sm-8, .text-content .col-sm-7, .text-content .col-sm-6, .text-content .col-sm-5, .text-content .col-sm-4, .text-content .col-sm-3, .text-content .col-sm-2, .text-content .col-sm-1, .text-content .col-md-12, .text-content .col-md-11, .text-content .col-md-10, .text-content .col-md-9, .text-content .col-md-8, .text-content .col-md-7, .text-content .col-md-6, .text-content .col-md-5, .text-content .col-md-4, .text-content .col-md-3, .text-content .col-md-2, .text-content .col-md-1, .text-content .col-lg-12, .text-content .col-lg-11, .text-content .col-lg-10, .text-content .col-lg-9, .text-content .col-lg-8, .text-content .col-lg-7, .text-content .col-lg-6, .text-content .col-lg-5, .text-content .col-lg-4, .text-content .col-lg-3, .text-content .col-lg-2, .text-content .col-lg-1 {
    padding-left: 30px;
    padding-right: 30px; } }

/* Lists */
.icon-list,
.text-content .icon-list {
  padding-left: 0;
  margin-bottom: 30px; }
  .icon-list .icon-list__item,
  .text-content .icon-list .icon-list__item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 16px; }

.icon-list__icon {
  position: absolute;
  left: 3px;
  top: -2px;
  color: #b7d5f3; }

.icon-list__subitem {
  margin-bottom: 4px; }
  .icon-list__subitem:last-child {
    margin-bottom: 0; }

.number-list,
.text-content .number-list {
  padding-left: 0;
  margin-bottom: 30px;
  counter-reset: item; }
  .number-list .number-list__item,
  .text-content .number-list .number-list__item {
    position: relative;
    padding-left: 40px;
    margin-bottom: 16px;
    counter-increment: item 1; }
    .number-list .number-list__item::after,
    .text-content .number-list .number-list__item::after {
      content: counter(item);
      display: inline-block;
      position: absolute;
      left: 0;
      top: -1px;
      font-size: 16px;
      font-family: "Lato", "Roboto", Helvetica, Arial, sans-serif;
      font-weight: bold;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      background-color: #e5eef7;
      color: #0070c5;
      border-radius: 50%; }

.small-list,
.text-content .small-list {
  margin-top: 8px;
  list-style-type: none;
  padding-left: 0; }

.small-list__item {
  position: relative;
  padding-left: 20px; }

.small-list__item::before {
  content: "–";
  position: absolute;
  left: 0;
  top: 0; }

/* Section */
.section {
  margin-left: -40px;
  margin-right: -40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px; }
  @media (max-width: 768px) {
    .section {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px; } }

.section--blue {
  background-color: #e5eef7; }

.section--primary {
  background-color: #0070c5;
  color: #fff; }

.section--narrow {
  padding-top: 22px;
  padding-bottom: 22px; }

.admin__panel__content__inner > .section:first-child {
  margin-top: -40px; }

.section--nopadding {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 60px;
  margin-bottom: 60px; }
  .section--nopadding:last-child {
    margin-bottom: 0; }

/* Promo */
.promo {
  padding-top: 70px;
  padding-bottom: 75px; }

.promo__title {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: -.2px;
  color: #0070c5; }

.promo__text {
  font-size: 21px; }

/* Decoration */
.dash-decor {
  position: relative; }
  .dash-decor::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    border-top: 1px dashed rgba(255, 255, 255, 0.66); }

.dash-decor__inner {
  position: relative;
  background-color: #0070c5;
  padding-left: 24px;
  padding-right: 24px;
  display: inline-block; }

/* Video */
.video {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.07), 0 6px 30px 5px rgba(0, 0, 0, 0.06), 0 8px 10px -5px rgba(0, 0, 0, 0.1);
  padding: 24px; }

.video__caption {
  font-size: 14px;
  text-align: right;
  margin-top: 6px;
  margin-bottom: -4px; }

/* Loader */
.loader {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 39; }
  .loader__pic {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }

.spinner {
  width: 64px;
  height: 64px; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0070c5;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s; }

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0); }
  50% {
    -webkit-transform: scale(1); } }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/* Captcha panel */
@media (min-width: 768px) {
  .captcha-panel__btn {
    text-align: right; }
    .captcha-panel__btn .btn {
      margin-top: 14px; } }

/* Input group */
.input-group .form-group {
  margin: 0;
  padding: 0; }

.input-group .input-group-addon {
  font-size: 16px;
  padding: 0; }
  .input-group .input-group-addon:first-child {
    padding-left: 0;
    padding-right: 12px; }
  .input-group .input-group-addon:last-child {
    padding-left: 12px;
    padding-right: 0; }

/* Filter links */
.filter-links {
  margin-left: -3px; }
  .filter-links .filter-links__item {
    padding-left: 3px;
    padding-right: 3px; }

.filter-link {
  text-decoration: none;
  padding: 3px 8px 4px;
  border-radius: 2px;
  border-bottom: 0; }
  .filter-link:hover, .filter-link:focus, .filter-link:active {
    text-decoration: none; }
    .filter-link:hover .filter-link__inner, .filter-link:focus .filter-link__inner, .filter-link:active .filter-link__inner {
      border-bottom-color: inherit; }
  .filter-link.active {
    background-color: #0070c5;
    color: #fff; }
    .filter-link.active .filter-link__inner {
      color: #fff;
      border-bottom-color: transparent; }

.filter-link__inner {
  border-bottom: 1px dashed; }

/* QMS */
.qms__filter {
  margin-bottom: 15px; }

.qms__filter__list {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px; }
  @media (min-width: 768px) {
    .qms__filter__list {
      margin-top: 9px;
      margin-bottom: 0; } }

/* QMS service counter */
.qms-service-count {
  color: #888;
  font-size: 14px;
  margin-bottom: 12px;
  margin-left: 8px; }

.qms-service-count__value {
  color: rgba(0, 0, 0, 0.87); }
